<h1 class="center-align">Community Gallery</h1>
<div class="row">
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/cenaempanada.jpg" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/commcatfish.png" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/commcatfish2.png" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/commcatfish3.png" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/commotterup.jpg" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/commcatfish4.png" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/commotterup2.jpeg" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="col s12 m6 l4">
    <img src="./assets/img/community/" alt="community photo" class="responsive-img card materialboxed">
  </div>
  <div class="divider"></div>

</div>