<footer class="page-footer indigo lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5 class="teal-text text-darken-4">Pages</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/public/user.html">UrPiXels</a></li>
                    <li><a class="grey-text text-lighten-3" href="/public/local.html">Local</a></li>
                    <li><a class="grey-text text-lighten-3" href="/public/community.html">Community</a></li>
                    <li><a class="grey-text text-lighten-3" href="/public/settings.html">Settings</a></li>
                </ul>
            </div>
            <div class="col l6 s12">

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container teal-text text-darken-4">
            © 2020-1
            <a class="teal-text text-darken-4 right" href="https://en.wikipedia.org/wiki/String_theory">String
                Theory</a>
        </div>
    </div>
</footer>