<div class="container">
    <div class="section">
        <div class="row">
            {{!-- <div class="col s4"></div> --}}
            <div class = "brand-logo center" >
                <a><img  id ="label" src="assets/img/LogoPixel.svg"></a>
            </div>
            
        
    </div>
    <div class="divider"></div>