<nav>
    <div class="nav-wrapper light-blue lighten-5">
        <a href="#!" class="teal-text text-darken-2 brand-logo center"><img src="assets/img/LogoPixel.svg"
                width="100"></a>
    </div>
</nav>