<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="user.html">UrPiXels</a></li>
    <li><a href="local.html">Local</a></li>
    <li><a href="community.html">Community</a></li>
    <li><a href="settings.html">Settings</a></li>
</ul>