<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="/user">UrPiXels</a></li>
    <li><a href="/local">Local</a></li>
    <li><a href="/community">Community</a></li>
    <li><a href="/settings">Settings</a></li>
</ul>