<main>
    {{> navbar }}
    {{> header }}
    


    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Think Hard" id="username-signup" type="text" class="validate">
                    <label for="username-signup">Username</label>
                </div>
                <div class="input-field col s6">
                    <input id="email-signup" type="text" class="validate">
                    <label for="email-signup">Email Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input  value="I am not editable" id="password-signup" type="text" class="validate">
                    <label for="disabled">Password</label>
                </div>
            </div>
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Profile Image</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </form>
            <div class="input-field col s12">
                <input id="bio" type="text" class="validate">
                <label for="last_name">Brief Bio</label>
            </div>
            <div class="input-field col s12">
                <input id="medium" type="text" class="validate">
                <label for="last_name">Location</label>
            </div>
            {{!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> --}}
    </div>

    </form>
    <button class="btn waves-effect waves-light" type="submit" name="action" id=sb-footer>Submit
        <i class="material-icons right">send</i>
    </button>
    </div>
    <footer>
        {{> footer }}
    </footer>
    </main>