<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="user.html">UrPiXels</a></li>
    <li><a href="local.html">Local</a></li>
    <li><a href="community.html">Community</a></li>
    <li><a href="settings.html">Settings</a></li>
</ul>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <a><img src="assets/img/label.svg" width="400" height="200"></a>
            </div>
            <div class="col s4"></div>
        </div>
    </div>
    <div class="divider"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col s6 m3 l2"></div>
        <div class="col s6 m3 l2">
            <form action="upload.php" method="post">
                <p>Upload your own image</p>
                <input type="file" name="user-image" /><br />
                <input type="submit" value="Upload" />
            </form>
        </div>
    </div>

    <h1 class="center-align">User Image Gallery</h1>
    <div class="row">

        <div class="col s12 m6 l4">
            <img src="./assets/img/robotman.jpg" alt="user photo" class="responsive-img card materialbox">
        </div>
        <div class="col s12 m6 l4">
            <img src="./assets/img/robotman.jpg" alt="user photo" class="responsive-img card materialbox">
        </div>
        <div class="col s12 m6 l4">
            <img src="./assets/img/robotman.jpg" alt="user photo" class="responsive-img card materialbox">
        </div>
        <div class="col s12 m6 l4">
            <img src="./assets/img/robotman.jpg" alt="user photo" class="responsive-img card materialbox">
        </div>
        <div class="col s12 m6 l4">
            <img src="./assets/img/robotman.jpg" alt="user photo" class="responsive-img card materialbox">
        </div>
        <div class="col s12 m6 l4">
            <img src="./assets/img/robotman.jpg" alt="user photo" class="responsive-img card materialbox">
        </div>
        <div class="divider"></div>

    </div>
</div>