<div>
    {{> sidenav}}
</div>

<div class="container">
    {{> header }}
</div>
<div class="container">
    <div class="row">
        <div class="col s6 m3 l2"></div>
        <div class="col s6 m3 l2">
            <form action="upload.php" method="post">
                <p>Upload your own image</p>
                <input type="file" name="user-image" /><br />
                <input type="submit" value="Upload" />
            </form>
        </div>
    </div>

    
</div>